**App-API/.vs/
**App-API/bin/
**App-API/obj/


**App-API/AddonAPI/.vs/
**App-API/AddonAPI/bin/
**App-API/AddonAPI/obj/



**App-API/Library/**/obj/
**App-API/Library/**/bin/



**App-API/Library/{%FolderName%}/**/obj/
**App-API/Library/{%FolderName%}/**/bin/


**App-API/**/.vs
**App-API/**/obj/

**App-FE/node_modules
**App-FE/**/.pnp
**App-FE/.pnp
.pnp.js
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

**/**/bin/
**/bin/
**/**/.vs
**/.vs
**/cr
**/**/cr